/* ここから下に記載していく */
body {
    font-family: メイリオ;
}
br {
    display: block;
    content: "";
    margin: 10px 0;
}
.head {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
}
.head_pic {
    margin: 20px;
}

.main_menue {
    font-size: 21px;
    display: flex;
    /* justify-content: flex-end; */
    padding: 50px;
}
.menue {
    padding: 0px 25px;
}
a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}

.top_picture{
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.cheese_pic {
    width: 1200px;
}
.top_message{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.sub_message{
    position: absolute;
    bottom: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 26px;
    font-weight: 200;
}
.about_area {
    width: 1200px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}
.title_yellow {
    color: rgb(168, 168, 5);
    font-size: 24px;
    font-weight: bold;
}
.title {
    font-size: 24px;
    font-weight: bold;
}


.subtitle {
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 18px;
}
.p {
    font-size: 16px;
    line-height: 2;    
}

.about_exp1 {
    padding-top: 40px;
}
.about_exp2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.cover_picture {
    width: 1200px;
    height: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.cv_pic {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.course_area {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.course_block {
    width: 1200px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.course_exp {
    padding-top: 30px;
}
.container_course {
    width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;

}
.container_course1 {
    display: flex;
}
.container_course1_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.picture_course1 {
    width: 600px;
    height: 404.69px;
}
.couse_pic {
    width: 600px;
}

.course_exp1 {
    margin: auto 50px;    
}
.course_exp2 {
    font-size: 25px;
    font-weight: bold;
}
.course_exp3 {
    margin-top: 40px;
    width: 430px;
    line-height: 2;
}

.news_area {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.newsblock {
    text-align: center;
    margin-top: 60px;    
}
.news {
    color: rgb(168, 168, 5);
    font-size: 25px;
    font-weight: bold;
}
.news_kana {
    margin-top: 30px;    
}

.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px 30px;

}
.news1 {
    width: 300px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
.news1:hover {
    /* background-color: #bfbfbf; */
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}
.news1_day {
    margin-top: 30px;
    margin-bottom: 24px;
}
.news1_expanation {
    padding: 2px;
}

.more_button_area {
    display: flex;
    justify-content: center;
}
.more_button {
    background-color: rgb(168, 168, 5);
    border: solid rgb(168, 168, 5);
    color: white;
    padding: 10px 100px;
    margin-top: 30px;
}
.more_button:hover {
    background: #fff;
    color: #707070;
    border:solid rgb(168, 168, 5);
}


.access {
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.access_moji {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.company_info {
    padding-bottom: 60px;
}
.access_info {
    text-align: left;
}

.container_school {
    display: flex;
    margin-top: 60px;
    margin-left: 35%;
}
.schoolname {
    margin-left: 10%;
}
.container_address{
    display: flex;
    margin-left: 35%;
    padding-top: 30px;
}
.address {
    margin-left: 5%;
}
.container_tel{
    display: flex;
    margin-left: 35%;
    padding-top: 30px;
}
.tel {
    margin-left: 13%;
}
.container_fax{
    display: flex;
    margin-left: 35%;
    padding-top: 30px;
}
.fax {
    margin-left: 13%;
}

.container_mail{
    display: flex;
    margin-left: 35%;
    padding-top: 30px;
    padding-bottom: 70px;
}
.mail {
    margin-left: 11%;
}

.contact_area {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.contact {
    text-align: center;
    margin-top: 60px;
}
.contact_title {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.contact_subtitle {
    padding-bottom: 60px;
}
.caution {
    padding-top: 30px;
}
.form {
    margin-top: 70px;
}

.table {
    border-collapse: collapse;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-color: #bfbfbf;

}
th {
    border: 2px solid  #bfbfbf;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: auto;
    text-align: left;
    vertical-align: middle;
    border-right: none;
}

.table_title {
    width: 168px;
    height: 36px;    
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 64px;
    vertical-align: middle;
    border-left: none;
}

.table_title_top {
    width: 168px;
    height: 50px;    
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 64px;
    vertical-align: top;
    border-left: none;
}


.table_parts {
    /* width: 400px; */

}
.textbox {
    width: 324px;
    height: 32px;
}
.selecttextbox {
    width: 328px;
    height: 36px;
}
.textbox_large {
    width: 328px;
    height: 200px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.motivation {
    display: block;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 24px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 24px;
}

/* input[type="checkbox"] {
    display: none;
  }  */

  /* .motivation input[type=checkbox]:checked::before {
    background: #707070;
} */

.send_button_area {
    display: flex;
    justify-content: center;
}
.send_button {
    background-color: rgb(168, 168, 5);
    border: solid rgb(168, 168, 5);
    color: white;
    padding: 10px 100px;
    margin-top: 30px;
}
.send_button:hover {
    background: #fff;
    color: #707070;
    border:solid rgb(168, 168, 5);
}


.footer {
    width: 1200px;
    background-color: #707070;
    color: white;
    text-align: center;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}
.copyrights {
    padding: 30px;
}
